<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename="css/background.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="css/quiz_list.css")}}">
    <title>Document</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    <script src="{{url_for('static',filename="js/background.js")}}"></script>

    <section>
        <h1>クイズ一覧</h1>
        <p>やりたいクイズのIDを選択して下さい</p>
     <table border="1">
        <tr>
            <th>ID</th>
            <th>問題</th>
        </tr>
        {% for l in list %}
        <tr>
            <td><a  class="num" href="{{url_for('quiz.quiz_detail')}}?id={{l[0]}}" name="id" class="list">{{l[0]}}</a></td>
            <td>{{l[1]}}</td>
        </tr>
        {% endfor%}
     </table>
        <a  class="top" href="{{url_for('user_top')}}" class="top">トップへ</a>
    </section>
</body>
</html>