<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename="css/quiz_list_all.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="css/background.css")}}">
    <title>Document</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    <script src="{{url_for('static',filename="js/background.js")}}"></script>
    <section>
        <h1>問題一覧</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>問題</th>
            <th>答え</th>
        </tr>
        {% for l in list %}
        <tr>
            <td>{{l[0]}}</td>
            <td>{{l[1]}}</td>
            <td>{{l[2]}}</td>
            <td><a class="delete" href="{{url_for('quiz.quiz_delete')}}?id={{l[0]}}">削除</a></td>
        </tr>
        {% endfor%}
    </table>
    <a href="{{url_for('host_top')}}" class="top">トップへ</a>
    </section>
</body>
</html>