<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename="css/quiz_fail.css")}}">
    <link rel="stylesheet" href="{{url_for('static' , filename="css/background.css")}}">
    <title>Document</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    <script src="{{url_for('static',filename="js/background.js")}}"></script>
    <section>
        <div class="home1">
            <h1>残念！不正解！</h1>
    
            <a href="{{url_for('quiz.quiz_list')}}">クイズ一覧へ</a>
        </div>
    </section>
</body>
</html>