<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename="css/host.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="css/background.css")}}">
    <title>Document</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    <script src="{{url_for('static',filename="js/background.js")}}"></script>
    <section>
        <p>管理者画面</p>
        <div class="home1">
            <div class="home2">
                    <a class="float3" href="{{url_for('quiz.quiz_list_all')}}">クイズ一覧</a>
                    <a class="float3" href="{{url_for('quiz.quiz_register')}}">クイズ登録</a><br>
                    <a class="float3" href="{{url_for('quiz.quiz_search_all')}}">クイズ検索</a>
                    <a class="float3" href="{{url_for('quiz.quiz_delete')}}">クイズ削除</a>
                    <a class="float3" href="{{url_for('user.user_list')}}">ユーザー一覧</a><br>
        </div>
        <a href="{{url_for('logout')}}">ログアウト</a>
    </section>
    
</body>
</html>